#################
# Files
#################
*.class
*.classpath
*.project
*.settings
*.springBeans
#################
# Directories
#################
target/
bin/
src/main/resources/public/node_modules/
